@charset "UTF-8";

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    background-color: #12121454;
}

header {
    width: 100%;
    background-color: #121214;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}

header h1{
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    color: white;
}

main{
    margin: auto;
    margin-top: 10px;
    background-color: rgb(18, 18, 20);
    height: 490px;
    width:330px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #330f86;
}

#resultado{
    width: 283px;
    height: 15px;
    margin: 20px 0px 20px 6px;
    padding: 5px 10px 25px 10px;
    border: solid;
    border-radius: 5px;
    text-align: right;
    font-size: 1.4em;
    background-color: rgba(255, 255, 255, 0.932);
    overflow-x: auto;
    overflow-y: hidden;
}
/* Barra de rolagem*/
::-webkit-scrollbar{
    height: 5px;
}
/* trilha (barra de progresso) da barra de rolagem */
::-webkit-scrollbar-track{
    background-color: #12121454;
}
/* Alça de rolagem arrastável */
::-webkit-scrollbar-thumb{
    background-color: #330f86;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #110233de;
}
input{
    margin: 5px;
    width: 65px;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #9466ff50;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.932);

}

input:hover{
    background-color: rgb(31, 31, 31);
    color: white;
}

